 .auto-style1 {
	font-family: Arial, Helvetica, sans-serif;
} 
.auto-style3 {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.auto-style5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	text-decoration: underline;
}
.auto-style6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	text-decoration: underline;
}
  .auto-style7 {
	font-size: medium;
}
.auto-style8 {
	color: #FFFFFF;
}
.auto-style9 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: medium;
}
.auto-style10 {
	text-decoration: none;
}
.auto-style11 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.auto-style12 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.auto-style13 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.auto-style14 {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style16 {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
}