/*
* File: global_classes.css
* Author: Joe Kidd
* Purpose: Reusable and generalized css class library for use across
*          many pages. Primarily removing small style changes from
*          being inline embedded into the html.
*
*
*/


/* height & width 
 * 
 * dimensions by percentage
 * wp - width precentage
 * hp - height percentage
 *
*****************************************************/
.wp5  { width: 5%;  } .hp5  { height: 5%;  }
.wp10 { width: 10%; } .hp10 { height: 10%; }
.wp15 { width: 15%; } .hp15 { height: 15%; }
.wp20 { width: 20%; } .hp20 { height: 20%; }
.wp25 { width: 25%; } .hp25 { height: 25%; }
.wp30 { width: 30%; } .hp30 { height: 30%; }
.wp33 { width: 33%; } .hp33 { height: 33%; }
.wp50 { width: 50%; } .hp50 { height: 50%; }
.wp75 { width: 75%; } .hp75 { height: 75%; }
.w1p00{ width: 100%;} .hp100{ height: 100%;}


/* font weights
 * 
 * fw1 to fw3 = light
 * fw4 = normal
 * fw7 = bold
 * fw9 = thick
 *
*****************************************************/
.fw1{ font-weight: 100; } .fw6{ font-weight: 600; }
.fw2{ font-weight: 200; } .fw7{ font-weight: 700; } 
.fw3{ font-weight: 300; } .fw8{ font-weight: 800; }
.fw4{ font-weight: 400; } .fw9{ font-weight: 900; }
.fw5{ font-weight: 500; }

.fwn { font-weight: 400; } /* font-weigth normal */
.fwb { font-weight: 700; } /* font-weight bold  */
.fwt { font-weight: 900; } /* font-weight thicker */




