pre, p{
	padding: 0px;
	margin:  0px;
	display: inline;
	font: inherit;
}

h1, h2, h3, h4 ,h5{
	font-weight: bold;
	font-style: italic;
}

a {
	color: #0000ff;
}

li{
	padding-top: 5px;
}


@media (max-width:601px){
	
	article{
		display: none;
	}
	
}