pre, p{
	padding: 0px;
	margin:  0px;
	display: inline;
	font: inherit;
}

h1, h2, h3, h4 ,h5{
	font-weight: bold;
	font-style: italic;
}

a {
	color: #0000ff;
}

li{
	padding-top: 5px;
}

.mobile-nav{
	display: none;
}


#nav-close-btn{
	display: none;
	position: absolute;
	z-index: 99;
	right: 0;
	padding: 0px 5px;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 5px;
}

.b{
	font-weight: bold;
}

.menu-category{
	font-weight:  bold;
	background-color: #5555cc;
}

.menu-category-list{
	display: none;
}

.menu-category-list .menu-item{
	background-color: #8888aa;
	border: none;

}

@media (max-width:601px){
	
	article{
		display: none;
	}
	
	.w3-bar{
		display: none;
	}
	
	.mobile-nav{
		display: block;
		width: 100%;
		background-color: #7087FF;
		color: white;
		text-align: center;
		padding: 3px 0px;
		cursor: pointer;
	}
}