
.menu-item {
	display: block;
	position: relative;
	z-index: 50;
	color: white;
	font-size: inherit;
	background-color: #blue;
	padding: 5px 0px 5px 5px;
	text-decoration: none;
	border: 1px solid gray;
	transition: 0.5s;
}

.menu-item:hover {
	background-color: #0055ff;
}

@media(max-width: 601px){
	
	.menu-item{
	}
	
}