<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PostGresServer" value="192.168.0.101" />
    <add key="PostGresPort" value="5432" />
    <add key="PostGresUserID" value="postgres" />
    <add key="PostGresPassword" value="gis123!@#" />
    <add key="PostGresDatabase" value="ed_oms" />
    <add key="CompanyName" value="" />
    <add key="InputCoordinateSystem" value="PROJCS[&quot;NAD_1983_StatePlane_Arizona_Central_FIPS_0202_Feet_Intl&quot;,GEOGCS[&quot;GCS_North_American_1983&quot;,DATUM[&quot;D_North_American_1983&quot;,SPHEROID[&quot;GRS_1980&quot;,6378137,298.257222101]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Degree&quot;,0.0174532925199433]],PROJECTION[&quot;Transverse_Mercator&quot;],PARAMETER[&quot;False_Easting&quot;,700000],PARAMETER[&quot;False_Northing&quot;,0],PARAMETER[&quot;Central_Meridian&quot;,-111.916666666667],PARAMETER[&quot;Scale_Factor&quot;,0.9999],PARAMETER[&quot;Latitude_Of_Origin&quot;,31],UNIT[&quot;Foot&quot;,0.3048]]" />
    <add key="RegionsTableName" value="new_regions" />
    <add key="Regions_NameField" value="name" />
    <add key="Regions_ShapeField" value="shapefield" />
    <add key="Regions_ConsumersCountField" value="consumerscount" />
    <add key="CountyTableName" value="new_counties" />
    <add key="County_NameField" value="name" />
    <add key="County_ShapeField" value="shapefield" />
    <add key="County_ConsumerCountField" value="consumerscount" />
    <add key="EnableSecurity" value="No" />
    <add key="TokenString" value="ubOKm39FNx2b" />
    <add key="Est_Restoration_DateTimeField" value="etor" />
    <add key="PoleNumberField" value="pole_num" />
    <add key="OutageStatusField" value="casestatus" />
    <add key="CauseField" value="webmap" />
    <!--<add key="ColumnToSort" value="ConsumersServed" />-->
    <!--Possible Values - Name, ConsumersServed,ConsumersAffected -->
    <!--<add key="SortOrderAscending" value="true" />-->
    <!--<add key="PostGresServer" value="192.168.4.6"/>
    <add key="PostGresPort" value="5432"/>
    <add key="PostGresUserID" value="postgres"/>
    <add key="PostGresPassword" value="gis123!@#"/>
    <add key="PostGresDatabase" value="fourcounty"/>
    <add key="CompanyName" value=""/>
    <add key="InputCoordinateSystem" value="PROJCS[&quot;NAD_1983_StatePlane_North_Carolina_FIPS_3200_Feet&quot;,GEOGCS[&quot;GCS_North_American_1983&quot;,DATUM[&quot;D_North_American_1983&quot;,SPHEROID[&quot;GRS_1980&quot;,6378137,298.257222101]],PRIMEM[&quot;Greenwich&quot;,0],UNIT[&quot;Degree&quot;,0.0174532925199433]],PROJECTION[&quot;Lambert_Conformal_Conic&quot;],PARAMETER[&quot;False_Easting&quot;,2000000.00261667],PARAMETER[&quot;False_Northing&quot;,0],PARAMETER[&quot;Central_Meridian&quot;,-79],PARAMETER[&quot;Standard_Parallel_1&quot;,34.3333333333333],PARAMETER[&quot;Standard_Parallel_2&quot;,36.1666666666667],PARAMETER[&quot;Latitude_Of_Origin&quot;,33.75],UNIT[&quot;Foot_US&quot;,0.304800609601219]]"/>
    <add key="RegionsTableName" value="new_regions"/>
    <add key="Regions_NameField" value="name"/>
    <add key="Regions_ShapeField" value="shapefield"/>
    <add key="Regions_ConsumersCountField" value="consumerscount"/>
    <add key="CountyTableName" value="new_counties"/>
    <add key="County_NameField" value="name"/>
    <add key="County_ShapeField" value="shapefield"/>
    <add key="County_ConsumerCountField" value="consumerscount"/>-->
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <!--<compilation debug="true" targetFramework="4.0" />-->
    <compilation targetFramework="4.0" debug="true">
      <!-- <assemblies>
        <add assembly="System.Xml.Linq, Version=2.0.5.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>-->
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
